@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.mainHeading{
    font-family: Lilita One;
    padding-top: 10%;
    color: rgb(14, 14, 194);
    display: flex;
    justify-content: center;
}

.inputMain{
    padding-top: 20px;
   margin-left: 34%;
}
.items{
    width: 25%;
    padding-top: 20px;
    margin-left: 37%;
}
.btndelete{
    color: red;
    margin-left: 45%;
    margin-bottom: 20px;
    background: none;
    border: none;
    
}